@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

.container {
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.items {
  padding: 2rem 2.5rem;
  display: grid;
  gap: 2rem;
}

.item-sedan {
  background-color: hsl(31, 77%, 52%);
}

.item-suv {
  background-color: hsl(184, 100%, 22%);
}

.item-luxury {
  background-color: hsl(179, 100%, 13%);
}

.title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5rem;
}

.description {
  line-height: 1.5;
}

.learn-more {
  text-decoration: none;
  background-color: white;
  width: fit-content;
  padding: 0.8em 1.5em;
  border-radius: 25px;
  color: black;
  mix-blend-mode: screen;
}
